body {
    margin: 0;
    padding: 0;
}

.backgroundimg {
    background-image: url(../img/pc/ankama.jpg);
    background-repeat: no-repeat;
    position: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}




/* Slideshow container */

.slideshow-container {
    max-width: 200px;
    position: relative;
    margin: auto;
    margin-top: 20%;
}






/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}




/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}




/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}